USE [master]
GO
/****** Object:  Database [PruebaLinQ]    Script Date: 28/06/2016 16:57:28 ******/
CREATE DATABASE [PruebaLinQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaLinQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PruebaLinQ.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PruebaLinQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PruebaLinQ_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaLinQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaLinQ]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 28/06/2016 16:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comentarios](
	[id_com] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[comentario] [nvarchar](300) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [pk_id_comentario] PRIMARY KEY CLUSTERED 
(
	[id_com] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
